
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tests</h1>

<p>
    texte normal
</p>

<p class="no-print">
    Texte n'apparaissant qu'à l'écran
</p>

<p class="no-screen">
    Texte n'apparaissant qu'à l'impression
</p>