<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Freyd.SolrTools" version="1.6.14" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.fr" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor.fr" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client.fr" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core.fr" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost.fr" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages.fr" version="3.2.6" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.Net.Http.fr" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net451" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net451" />
</packages>