<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.fr" version="6.2.0" targetFramework="net472" />
  <package id="Freyd.SolrTools" version="1.6.14" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net451" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net451" />
</packages>