<title>Accueil</title>

@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Accueil</h1>

<div>
    <ul id="menu-l2">
        <li id="li-menu-l2"><a id="a-li-menu-l2-active" class="btn-sm" href="~/">Sous&#160;menu&#160;1</a></li>
        <li id="li-menu-l2"><a id="a-li-menu-l2" class="btn-sm" href="~/Viking">Sous&#160;menu&#160;2</a></li>
        <li id="li-menu-l2"><a id="a-li-menu-l2" class="btn-sm" href="~/TypeViking">Sous&#160;menu&#160;3</a></li>
        <li id="li-menu-l2"><a id="a-li-menu-l2" class="btn-sm" href="#">Sous&#160;menu&#160;4</a></li>

    </ul>
</div>